body {
    background-image: url("https://benxcoolstudios.github.io/img/backgroundbxcstudios.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

a {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: rgb(244, 255, 197);
    font-size: 40px;
    
  }

h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 1000;
    font-style: normal;
    color: white;
    font-size: 50px;
}


.btn {
  background-color: transparent;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to right, #2b00ff 0%, #1C00A7 100%);
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.btn:hover {
        background: rgb(34, 34, 34); 
        box-shadow:
          0 0 0 2px #2b00ff, 
          0 0 5px 3px #1C00A7; 
}

pALTERNATE {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: rgb(244, 255, 197);
   font-size: 30px;
}

p {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: rgb(244, 255, 197);
  font-size: 40px;
}

h2 {
    font-family: "Inter Tight", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 40px;
    color: white;
}

newmoon {
    font-family: "Oswald", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 50px;
    color: rgb(54, 0, 140);
   -webkit-text-stroke-color: white;
   -webkit-text-stroke-width: 1px;
}

benxcool {
    font-family: "Oswald", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 50px;
   -webkit-text-stroke-color: white;
   -webkit-text-stroke-width: 1px;
    color: rgb(0, 87, 145)
}

